/* GENERAL */
body{
    margin: 0 auto;
    background-color: white;
    background-size: cover;
}
.header{
    margin: 0 auto;
    font-family: 'Poiret One', cursive;
    width: 100%;
    height: 400px;
    text-align: center;
    background-image: url('../img/background.jpg');
    background-repeat:no-repeat;
    background-size: cover;
    color: white;
}
.container{
    margin: 0 auto;
    width: 980px;
    font-family: 'Poiret One', cursive;
    background-color: whitesmoke;
    background-size: cover;
    padding: 0 20px 0 20px;
}
.navigation{
    text-transform: uppercase;
    margin-bottom: 50px;
}
.navigation li{
    list-style-type: none;
    display: inline;
    padding: 7px;
    border-right: 1px solid;
}

li:last-child{
    border-right:0;
}
.navigation a{
    text-decoration: none;
    color:white;
}
.part1, .part2, .part3, .part4{
    margin-bottom: 70px;
}
h1, h2{
    text-align: center;
    margin: 0;
    font-size: 40px;
}
h1{
    text-transform: uppercase;
    padding-top: 30px;
}
h2{
    margin-bottom: 60px;
}
h3{
    padding: 10px 0 10px 0;
    font-weight: bold;
    color:cadetblue;
}
h4{
    margin: 0 auto;
}
.clear{
    clear: both;
}
#topButton {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: cadetblue;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
}
hr{
    border-color: cadetblue;
}
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
img{
    max-width :100%;
    height :auto;
}
@-webkit-keyframes fadeInUp {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
}
@keyframes fadeInUp {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
}
.fadeInUp{
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}
/* A PROPOS */
.part1 h3{
    padding-top: 30px;
    margin: 0 auto;
}
.photo{
    float: left;
    width: 15%;
    text-align: center;
    padding-top: 15px;
}
.diplome{
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 1px solid #000000;
    font-size: 15px;
    font-weight: bold;
    padding:0 10px 10px 10px;
    width: 30%;
    text-align: center;
    float: right;
}
.diplome h3{
    margin: 0 auto;
    padding: 10px 0 10px 0;
    text-transform: uppercase;
    color: #882CA4;
    font-weight: bold;
}
.diplome p{
    float: left;
    margin: 0 0 3px 0;
    color:#882CA4;
    font-weight: bold;
}
.phrase{
    float: left;
    width: 50%;
    font-size: 18px;
}
.phrase p{
    margin: 0 auto;
    padding: 10px 0 0 20px;
}
/* COMPETENCES */
.compet1, .compet2{
    float: left;
    width: 50%;
    font-size: 20px;
    opacity: 0;
}
.compet1 ul, .compet2 ul{
    list-style-type: none;
}
.part2 ul li:before {
    content: "\00BB";
    padding: 7px;
    color: cadetblue;
}
.compet p{
    margin: 0 auto;
}
/* REALISATIONS */
.real1{
    height: 200px;
    margin: 0 auto;
    padding-left: 20px;
    font-size: 17px;
    opacity:0;
}
.real2{
    height: 190px;
    margin: 0 auto;
    padding-left: 20px;
    font-size: 17px;
    opacity:0;
}
.real3{
    height: 210px;
    margin: 0 auto;
    padding-left: 20px;
    font-size: 17px;
    opacity:0;
}
.num img{
    width:2%;
}
.details_real{
    padding-left: 30px;
    font-weight: bold;
    font-size: 18px;
    float: left;
}
.details_real a{
    border: 1px solid;
    padding: 10px 20px;
    text-decoration: none;
    color: cadetblue;
}
.details_real p{
    color: cadetblue;
}
/* EXPERIENCE */
.part4 table{
	width: 90%;
    margin-bottom: 30px;
    padding-left: 70px;
}
table ul{
    padding-left: 0;
}
.year{
	font-size: 1.2em;
	font-weight: bold;
	text-align: left;
	padding-top: 5px;
	border-right: 1px solid;
	width: 10%;
    vertical-align: top;
    color: cadetblue;
}
.year2{
	font-size: 1.2em;
	font-weight: bold;
	text-align: left;
	padding-top: 5px;
	border-left: 1px solid;
	width: 10%;
    vertical-align: top;
    color: cadetblue;
}
.job{
	width: 90%;
	font-size: 1.2em;
	border-bottom: 1px solid;
	padding: 6px 0 10px 10px;
}
.job2{
	width: 90%;
	font-size: 1.2em;
	border-bottom: 1px solid;
    padding: 6px 10px 10px 10px;
    text-align: right;
}
.jobdesc{
	padding: 10px 0 5px 10px;
}
.jobdesc2{
    padding: 10px 10px 5px 10px;
    text-align: right;
}
.jobdesc li, .jobdesc2 li{
    list-style-type: none
}
  @-webkit-keyframes slideInLeft {
    from {
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
      visibility: visible;
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  @keyframes slideInLeft {
    from {
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
      visibility: visible;
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  .slideInLeft {
    -webkit-animation-name: slideInLeft;
    animation-name: slideInLeft;
  }
  @-webkit-keyframes slideInRight {
    from {
      -webkit-transform: translate3d(100%, 0, 0);
      transform: translate3d(100%, 0, 0);
      visibility: visible;
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  @keyframes slideInRight {
    from {
      -webkit-transform: translate3d(100%, 0, 0);
      transform: translate3d(100%, 0, 0);
      visibility: visible;
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  .slideInRight {
    -webkit-animation-name: slideInRight;
    animation-name: slideInRight;
  }
/* CONTACT */
.icon1, .icon2, .icon3{
    position: relative;
    z-index: 1;
    float: left;
    margin-top: 10px;
    text-align: center;
    width: 33%;
}
.icon1 img, .icon2 img, .icon3 img{
    width: 150px;
    opacity: 1;
    display: block;
    height: 150px;
    transition: .5s ease;
    backface-visibility: hidden;
    margin: 0 auto;
}
.icon2:hover .middle, .icon2:hover .middle, .icon3:hover .middle{
    opacity: 1;
}
.icon1:hover img, .icon2:hover img, .icon3:hover img{
    opacity: 0.3;
}
.middle{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
.text{
    background-color: white;
    color:black;
    font-size: 14px;
    padding: 14px 20px;
}
.text a{
    text-decoration: none;
    color: black;
}
.icon1 p{
    font-size: 40px;
    text-align: right;
}
/* FOOTER */
.footer{
    margin: 0 auto;
    padding: 10px;
}
.footer span{
    font-size: 10px;
}
.footer a{
    text-decoration: none;
    color: black;
}
@media all and (max-width: 1024px){
    .container{
        width: auto;
    }
}
@media all and (max-width: 480px){
    .container{
        width: auto;
    }
    .part1, .part2, .part3, .part4{
        margin-bottom: 0;
    }
    .phrase, .photo, .diplome, .compet1, .compet2, .real1, .real2, .real3, .icon1, .job, .job2{
        float: none;
        width: auto;
        height: auto;
        margin-bottom: 20px;
        font-size: 16px;
    }
    .diplome, .compet2, .real3{
        clear: both;
    }
    .phrase p{
        font-size: 16px;
        padding: 0 0 0 10px;
    }
    .diplome{
        padding: 0;
        border: none;
    }
    .diplome p{
        text-align: left;
        font-weight: normal;
        color: black;
        padding: 0 0 0 10px;
    }
    .diplome h3{
        display: none;
    }
    .details_real{
        text-align: center;
    }
    .icon1{
        margin: 0;
    }
    .icon1 p{
        font-size: 20px;
        text-align: center;
        margin-bottom: 0;
    }
    .icon2, .icon3{
        text-align: center;
        width: 50%;
        margin: 0;
    }
    .text{
        font-size: 10px;
        padding: 7px 10px;
    }
    .icon2 img{
        float: right;
        width: 70px;
        padding-right: 30px;
    }
    .icon3 img{
        float: left;
        width: 70px;
    }
}
